*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: .2s linear;
  outline: none;
  text-decoration: none;
}

body {
  width: 100%;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1{
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
  width: 50%;
  justify-items: center;
  margin: auto;
}

/* header  */

.container {
  max-width: 1300px;
  margin: auto;
  padding: 5px 25px;
}
.header{
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  padding: 1.5rem 3%;

}
.header .navbrand{
  font-size: 30px;
  color: blueviolet;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3%;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.header1 .navbrand{
  font-size: 30px;
  color: blueviolet;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #5a266f;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color: #b541e3;
}

#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #ab28de;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.Aca1 {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  transition: all 0.35s ease;
  border-radius: 5px;
  color: white;
  font-size: small;
  border-radius: 30%;
  padding: 10px 16px;
  margin-left: 15px;
}
.Aca1:hover {
  border: 1px solid blueviolet;
  background-color: white;
  color: blueviolet;

}
#acc {
  padding-left: 5px;
}
#car {
  padding-left: 5px;
}

/* section */
.sec1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: radial-gradient(#d280f3);
}
.sec2 {
  flex-basis: 50%;
  min-width: 300px;
}
.sec2 img{
  max-width: 100%;
  padding: 50px 0;
}
.sec2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 15px 0;
}
.sec2 p{
  font-size: 20px;
  text-justify: auto;
}
.explore {
  display: inline-block;
  background: blueviolet;
  color: white;
  padding: 8px 30px;
  margin-top: 30px;
  border-radius: 30px;
  font-size: large;
}
.sec2 a:hover{
  background: #5a266f;
}
/* feature */
.money h1{
  font-size: 30px;
  line-height: 40px;
  color: black;
}

.col-6 h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: black;
  background-color: rgb(183, 125, 223) ;

}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  text-align: center;
}

.col-6{
  display: inline-block;
  width: 15%;
  padding: 10px;
  min-width: 150px;
  margin-bottom: 50px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  margin: 10px 0;
  
}
.col-6 img{
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.col-6:nth-child(2) h6{
  background-color: red;
}
.col-6:nth-child(3) h6{
  background-color: burlywood;
}
.col-6:nth-child(4) h6{
  background-color: goldenrod;
}
.col-6:nth-child(5) h6{
  background-color: teal;
}
.col-6:nth-child(6) h6{
  background-color: indianred;
}

/* featured */

#product1 {
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#product1 .pro{
  display: flex;
  flex-direction: column;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  margin: 15px 0;
  cursor: pointer;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: center;
  padding: 10px 0;
}

#product1 .pro .des span {
  color:  #606060;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro #cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: rgb(103, 33, 169);
  border: 1px solid #cce7d0;
}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(64, 9, 112);
}

/*banner*/

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../image/back.jpg.jfif);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}


#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2{
  color: white;
  font-size: 30px;
  padding: 10px 0;
}


#banner h2 span{
  color: rgb(191, 21, 21);
}

/* banner  */

#sm-banner {
  display: flex;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
  min-width: 350px;
  height: auto;
  padding: 30px;
  background-image: url(../image/images/category-3.jpg);
  background-size: cover;
  background-position: center;
  margin: 2.5%;
}

#sm-banner .banner-boxx{
  background-image: url(../image/images/category-2.jpg);
}


#sm-banner h4 {
  color: rgb(241, 238, 3);
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: rgb(238, 37, 6);
  font-size: 20px;
  font-weight: 800;
}

#sm-banner span {
  color: rgb(66, 8, 8);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
  background-color: #5a266f;
  color: white;
  border: 1px solid #5a266f;
}


/* banner 2  */
#banner2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}


#banner2 .banner-box2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../image/images/product-12.jpg");
  min-width: 250px;
  width: 30%;
  background-size: cover;
  height: 30vh;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner2 .banner-box3{
  background-image: url("../image/images/product-5.jpg");
}

#banner2 .banner-box4{
  background-image: url("../image/images/product-8.jpg");
}

#banner2 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner2 h3 {
  color: crimson;
  font-weight: 800;
}

/* Newsletter  */

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #041e42;
}

#newsletter h4{
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

#newsletter p{
  font-size: 14px;
  font-weight: 700;
  color: #818ea0
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


footer .footer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover{
  color: #088178;
}

footer .copywright{
  width: 100%;
  text-align: center;
}


/* product html */

#hero {
  background-image: url(../image/market1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#hero h2,
#hero p{
  color: #fff;
  font-weight: bolder;
}

#pagination {
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #5a266f;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}


/* SPRODUCT */

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-1{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 20px;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;

}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #5a266f;
  color: #fff;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}





/* blog html */

#heros {
  background-image: url(../image/copywriting.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#heros h2,
#heros p{
  color: #fff;
  font-weight: bolder;
}

#see {
  margin-top: 3%;
}

/* About html */

#heross {
  background-image: url(../image/tutor.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#heross h2,
#heross p{
  color: red;
  font-weight: bolder;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 100%;
  height: 100%;
  margin: 30px auto 0 auto;
}










@media (max-width: 1000px){

  



   @media (max-width: 799px){

    html{
      font-size: 55%;
    }
    
    .section-p1 {
      padding: 40px 40px;
    }

    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
      padding: 100px 0 0 10px;
    }

    .header1 .navbrand{
      font-size: 24px;
      color: blueviolet;
    }

    .header .navbrand{
      font-size: 20px;
      color: rgb(96, 21, 167);
    }

    #navbar.active{
      right: 0;
      transition: .5s linear;
    }  

    #navbar li{
      margin-bottom: 25px;
    }

    #mobile {
      display: flex;
      align-items: none;
    }

    #mobile i{
      color: #5a266f;
      font-size: 24px;
      padding-left: 10px;
    }

    #close {
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #ab28de;
      font-size: 24px;

    }

    .Aca{
      display: none;
    }

    .sec2 h1 {
      font-size: 32px;
      line-height: 44px;
      margin: 15px 0;
  }

  .explore {
    margin-top: 0;
  }

  .sec2 img {
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
}

    #product1 .pro-container {
      justify-content: center;
    }

    #product1 .pro {
      margin: 15px;
    }

    #sm-banner .banner-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      min-width: 300px;
      height: auto;
      padding: 30px;
      background-image: url(../image/images/category-3.jpg);
      background-size: cover;
      background-position: center;
      margin: 2.5%;
    }
    
    #sm-banner .banner-boxx{
      background-image: url(../image/images/category-2.jpg);
    }

    #banner2 {
      padding: 0 10px;
    }

    #newsletter .form{
      width: 100%;
    }

    #banner2 {
      justify-content: center;
    }

    #banner2 .banner-box2 {
      width: 100%;
    }

    
   }

   @media (max-width: 477px) {
     #product1 .pro {
       width: 100%;
     }

     #newsletter {
       padding: 40px 20px;
     }

     footer .copywright {
       text-align: start;
     }

     #prodetails {
      display: flex;
      flex-direction: column;
    }
    #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
    }

    #prodetails .single-pro-details {
      width: 100%;
      padding-top: 30px;
  }


   }
